*.cache
.DS_Store
index.ssi
config.txt*

/*.*

boards/*
!boards/custom
images/*
!images/camo
images/camo/*
!images/camo/custom
mechfiles/*
!mechfiles/custom
names
rat
scenarios/*
!scenarios/custom
sounds
